body {
  background-image: linear-gradient(180deg, #0b0a0c, #080808,#0b0a0c);
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #a7f7e8;
  font-size: 1.5rem;
}

.navbar {
  background-color: #0b0a0c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
}

.webdevimg {
  width: auto;
  height: 30rem;
  background-image: url("webdevimg.jpg");
  background-size: 100% 100%;
}

.profile-photodiv {
  margin: -150px auto 0 auto;
  width: 300px;
  height: 350px;
  background-image: url("ehimze-photo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
}

.introdiv {
  font-family: 'Sacramento', cursive;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.profile-introdiv {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top-cloud {
  width: 200px;
  align-self: flex-end;
  margin-right: 2rem;
}

.bottom-cloud {
  width: 200px;
  align-self: flex-start;
  margin: 0 0 2rem 2rem;
}

h1 {
  margin: 10px;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Sacramento', cursive;
  padding-bottom: 10px;
}

.contact-me {
  width: 60%;
  height: 30%;
  margin: 2rem auto;
  border-radius: 25px;
  background-color: #66BFBF;
  color: #0b0a0c;
  padding: 2rem 0;
}

.discourse-invite{
font-size: 2.5em;
}

.contact-message {
  width: 70%;
  margin: 40px auto 60px;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #efe6e6;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  font-size: 1.5rem;
}

.bottom-container {
  color: #11999e;
  padding: 50px 0 30px;
}

.copyright-text {
  color: #EAF6F6;
}


.btn {
  background: linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
  background-color: #11cdd4;
  border-radius: 8px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #0b0a0c;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
}

.btn:hover {
  background: linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
  background-color: #11999e;
}

.btn:active {
  position: relative;
  top: 1px;
}

.copyright-text {
  color: #eaf6f6;
  font-size: 0.75rem;
  margin: 0;
  padding: 50px 0 0 0;
}